<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Input Form Design</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    <div class="box">
      <h2>Login</h2>
      <form action="/" method="POST">
        <div class="inputbox">
          <input 
          type="text" 
          name="username" 
          required="" 
          value="{{ request.form['username'] }}" />
          <label>Username</label>
          
        </div>
        <div class="inputbox">
          <input 
          type="password" 
          name="password" 
          required=""
          value="{{ request.form['password'] }}" />
          <label>Password</label>
        </div>
        <input type="submit" name="submit"/>
      </form>
    </div>
  </body>
</html>
